/*
  ========================================
  Base
  ========================================
*/
body {
  margin: 0 auto;
  width: 60em;   
  background-color: #393946;
    /*notið em, m.t. tækja með hágæða "retina" skjáupplausn;*/
  /*border-left: 1px solid black;
  border-right: 1px solid black;*/
}

.main_text
{
background-color: grey;


}


footer nav, footer h4 {
  margin-top: 1em;
}
header nav {
  margin-top: 1.3em;
}

header ul {
  background-color: #393946;
  border:none;
  padding: 0;
  margin: 0;
}



header li a {
  color: #fff;
  text-decoration: none;
    padding-left: 36px;
}

header input {
  display: none;
}

header input:checked ~ nav {
  max-height: 500px;
}

/*Titill og Border*/
/*header label {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 5px 9px;
  transition: all .15s ease;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  width: 100%;
  line-height: 3em;
  background-color: #4CAF50;
}*/

header label:hover {
  color: black;
  
}

header nav {
  max-height: 0;
  overflow: hidden;
  transition: all .15s ease;
}

header li:hover {
  
   background-color: #3e8e41;
}
/*Stjórn yfir linkum*/
header a {
  color: #0087cc;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}


@media screen and (min-width: 0em){
  body,header{
    display: block;
    width: 100%;
  }
}



@media screen and (min-width: 30em){
  header input ~ nav {
    max-height: 500px;
  }
  header label{
    display: none;
  }
  header {
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  header ul{
    background-color: white;
    float: left;
    padding: 0;
    margin: 0;
  }
  header li {
    display: inline-block;
  }
  header li a{
    display: block;
    list-style-type: none;
    padding: .9em 1em;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 10em;
    /*border-radius: 4px 4px 0 0;*/
  }
  header li a:hover {
    background-color: grey;
  }
}

@media screen and (min-width: 48em){
  .dropbtn {
    display: none;
  }
  header {
    display: inline-block;
  }
  header ul {
      background-color:white;
  }
  header li {
    display: inline-block;
  }
  header li a{
        border-radius: 0.5em 0.5em 0 0;
  }
  header li:hover {
    background-color: #3e8e41;
    border-radius: 0.5em 0.5em 0 0;
  }

  .logo{


    height: 20em;
    width: 60em;
  }
}


@media screen and (min-width: 60em){
  body{
    width: 50em;
  }
  footer{
    width: 100%;
  }
  footer nav{
    display: block;
    margin: 0 auto;
  }

  figure {
    padding: 0;
    margin: 0;
  }

}
